@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About us</h1>
    <p><h2>Our shop info:</h2></p>
</hgroup>

<article>
    <p>
        Shop Online.
    </p>

    <p>
        Easy to Buy.
    </p>

    <p>
        Cash on delivery.
    </p>
</article>

<aside> 
    <ul>        
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>